/*Portfolio Section*/
* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-size: 20px;
    color: #777777;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
      
/*Top nagivation bar section*/ 

ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
  }

  li a:hover {
      color: #4aaaa5;
  }
  
  li a:hover:not(.active) {
    background-color: #ffffff;
  }
  
  .active {
    background-color: #4aaaa5;
    font-weight: bold;
    color: #ffffff;
    margin-left: 175px;
    font-size: 40px;
  }
  
  .topnav-right {
    float: right;
    margin-right: 175px;
  }


/*Gallery section*/

h1 {
    color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    padding: 10px;
    border-bottom: 2px solid #cccccc;
    margin-top: 0px;
}
     
#gallery {
    width: 960px;
    font-size: 15px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    margin: 0 auto;
}

.grid-container {
    background-color: #ffffff;
}

/* text block description for photos*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: xx-small;
    padding:20px;
    clear: both;
    background: #666666;
    border-top: 5px solid #4aaaa5;
    color: #ffffff;
    
}